<h1 class="bg-primary">Welcome {{title}}  to Angular World </h1>
<app-login></app-login>

<div *ngIf="showMsg" [ngStyle]="{color:'black'}">Show the message if condition is true</div>
<div *ngIf="showMsg" [ngStyle]="{color:colorName}">Show the message if condition is true</div>

<!-- *ngIf-else statement -->
<div *ngIf="showMsg;else showelseMsg">Show If Message </div>
<ng-template #showelseMsg> Show else Message </ng-template>

<!-- *ngIf with then else statement -->
<!-- <div *ngIf="showMsg; then showthen; else elseblock;">Show if Message </div>
<ng-template #showthen> Show then Block </ng-template>
<ng-template #elseblock> Else Block </ng-template> -->

<!-- ngswitch Statement -->
<div [ngSwitch]="switchValue">
    <div *ngSwitchCase="1">value passed is 1</div>
    <div *ngSwitchCase="2">value passed is 2</div>
    <div *ngSwitchCase="3">value passed is 3</div>
    <div *ngSwitchCase="4">value passed is 4</div>
    <div *ngSwitchDefault>This is Default Value</div>

</div>

<!-- Example for *ngFor -->
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Index</th>
        <th>First</th>
        <th>Last</th>
        <th>Even</th>
        <th>Odd</th>
    </tr>
    <tr *ngFor="let user of users; index as i ; first as f ; last as l;even as e ; odd as o ">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{i}}</td>
        <td>{{f}}</td>
        <td>{{l}}</td>
        <td>{{e}}</td>
        <td>{{o}}</td>
    </tr>
</table>

<!-- Example for ngStyle Directives -->
<!-- <div [ngStyle]="{'color':'green','background-color':'#ddd'}">Learning Angular is Fun</div> -->

<div [ngStyle]="{'color':colorVal,'background-color':bgColor}">Learning Angular is Fun</div>

<!-- Example for ngClass -->
<!-- <div [ngClass]=" 'one' ">
    Learning Angular is Fun
</div> -->

<!-- Dynamic way of using ngClass -->
<!-- <div [ngClass]=" clsName ">
    Learning Angular is Fun
</div> -->

<div [ngClass]=" [clsName1,clsName2] ">
    Learning Angular is Fun
</div>

<!-- Example for Interpolation    DOM  <-- component       -->
<h1>{{empName}}</h1>
<h1>{{ empId }}</h1>
<div class="data">{{user.jerseyNo}}</div>
<p>{{user.name}}</p>
<!-- Example for property Binding          DOM <-- component -->
<div [ngStyle]="{color:colValue}">This is example of property Binding </div>
<p [innerHTML]="empName"></p>
<div [ngClass]=" 'c1' ">Setting class property via property Binding </div>
<input [placeholder]="placeHolderVal">
<a [href]="hrefValue">Google</a>
<br>
<!-- Example for Event Binding      -->

<button (click)="showAlert();">Submit</button>

<input (focus)="consoleLog();">
<br>

<!-- Example of Two Way Binding -->
<!-- <input [(ngModel)]="firstNumber">  -->
<!-- <h1>{{firstNumber}}</h1> -->
<!-- <input [(ngModel)]="secondNumber">
<h1>{{sum}}</h1> -->

 

<router-outlet></router-outlet>
